kubectl-proxy changes http-header-keys to capitalized

<!-- Please use this template while reporting a bug and provide as much info as possible. Not doing so may result in your bug not being addressed in a timely manner. Thanks!

If the matter is security related, please disclose it privately via https://kubernetes.io/security/
-->

**What happened**:
When I am using `kubectl proxy`, the past proxy http request header keys are converted to initial capital.
<img width="198" alt="image" src="https://github.com/user-attachments/assets/37970f81-e12a-468c-8ab6-6e14f86d1c0e">

**What you expected to happen**:
HTTP/1.1
According to [RFC 7230, section 3.2](https://www.rfc-editor.org/rfc/rfc7230#section-3.2):

> Each header field consists of a case-insensitive field name followed by a colon (":"), optional leading whitespace, the field value, and optional trailing whitespace.

HTTP/2.0
Quoting [RFC 7540, section 8.1.2](https://www.rfc-editor.org/rfc/rfc7540#section-8.1.2):

> Just as in HTTP/1.x, header field names are strings of ASCII
characters that are compared in a case-insensitive fashion.

**How to reproduce it (as minimally and precisely as possible)**:
Use `kubectl proxy` and log all headers in svc-pods

**Anything else we need to know?**:
Happened both in aks and local k3s.
I'm not sure if this is a bug or intended?

**Environment**:
aks
```
Client Version: v1.29.4
Kustomize Version: v5.0.4-0.20230601165947-6ce0bf390ce3
Server Version: v1.28.9
```
local
```
Client Version: v1.29.4
Kustomize Version: v5.0.4-0.20230601165947-6ce0bf390ce3
Server Version: v1.29.3+orb1
```


This issue is currently awaiting triage.

SIG CLI takes a lead on issue triage for this repo, but any Kubernetes member can accept issues by applying the `triage/accepted` label.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.


<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes-sigs/prow](https://github.com/kubernetes-sigs/prow/issues/new?title=Prow%20issue:) repository.
</details>

Since the headers are case-insensitive, does it matter that these headers are capitalized or not?. Wouldn't eventually all be considered as same?.

> Since the headers are case-insensitive, does it matter that these headers are capitalized or not?. Wouldn't eventually all be considered as same?.
Thanks for your reply. I'm not thinking it a serious problem, but want to know that why `kubectl proxy` did that capitalizing


Looking through the code, the proxy command's RunProxy method [calls](https://github.com/kubernetes/kubectl/blob/8af785f4be633be5e206fb4b70f3411124e9066b/pkg/cmd/proxy/proxy.go#L210) Server.ServeOnListener, which itself [starts](https://github.com/kubernetes/kubectl/blame/8af785f4be633be5e206fb4b70f3411124e9066b/pkg/proxy/proxy_server.go#L251) an http.Server instance listening for requests on the requested address and port or Unix socket. When a request is received the http.Server instance creates an http.Request object and passes it to a handler.

Go's http package defines a [canonical header format](https://pkg.go.dev/net/http#CanonicalHeaderKey), in which the first letter and any letter immediately following a hyphen are upper-cased and all others are converted to lowercase. Methods on the Header type automatically convert names to canonical form.

So this looks like a Go implementation detail rather than something done deliberately by `kubectl proxy`.

Looking through the code, the proxy command's RunProxy method [calls](https://github.com/kubernetes/kubectl/blob/8af785f4be633be5e206fb4b70f3411124e9066b/pkg/cmd/proxy/proxy.go#L210) Server.ServeOnListener, which itself [starts](https://github.com/kubernetes/kubectl/blame/8af785f4be633be5e206fb4b70f3411124e9066b/pkg/proxy/proxy_server.go#L251) an http.Server instance listening for requests on the requested address and port or Unix socket. When a request is received the http.Server instance creates an http.Request object and passes it to a handler.

Go's http package defines a [canonical header format](https://pkg.go.dev/net/http#CanonicalHeaderKey), in which the first letter and any letter immediately following a hyphen are upper-cased and all others are converted to lowercase. Methods on the Header type automatically convert names to canonical form.

So this looks like a Go implementation detail rather than something done deliberately by `kubectl proxy`.

/priority awaiting-more-evidence

per https://github.com/kubernetes/kubectl/issues/1673#issuecomment-2522395643